.chats {
    display: flex;
    padding: 24px;
    width: 100%;
}

.chats__sidebar__item {
    display: flex;
    white-space: nowrap;
}

.chats__sidebar__item .Mui-selected {
    border-radius: 4px;
    border: none;
}