.app {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__title {
  padding-bottom: 36px;
}

.app__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app__content_row {
  flex-direction: row;
}

.app__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row !important;
}

.bordered {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  margin-top: 24px;
}

.borderedChat {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  margin-top: 24px;
}

button {
  padding: 32px;
  background-color: var(--color-primary);
  border-radius: 4px;
  border-color: transparent;
  font-weight: bold;
  font-size: 24px;
  margin-top: 24px;
}

button:hover {
  background-color: var(--color-primary-active);
  box-shadow: 0 0 4px 4px var(--color-primary-light);
}

span, p {
  font-size: 12px;
  text-align: center;
}

a {
  font-size: 24px;
  padding: 12px 0;
  color: var(--color-primary-light);
}

a:hover {
  opacity: 0.5;
}

/* <-- Styles for MaterialUI TextField --> */
.child__text-field input:valid + fieldset,
.child__text-field input:valid:hover + fieldset {
  border-width: 2px;
}
.child__text-field input:invalid + fieldset {
  border-width: 2px;
}
.child__text-field input:valid:focus + fieldset {
  border-left-width: 6px;
  padding: 4px !important; /* override inline-style */
  border-color: var(--color-primary);
}
.child__text-field label.Mui-focused {
  color: var(--color-primary);
}